<form action="/records/{{record._id}}?_method=PUT" method="post" class="justify-content-center">
  <ul class='list-group'>
    <h6 class='mb-4 ml-5'>*必填欄位：<span class='ml-4'>請修改你的支出</span></h6>

    {{!-- 名稱 --}}
    <li>
      <div class="inputName d-flex justify-content-center mb-3">
        <h4>名稱*：</h4>
        <input type="text" name='name' style="width: 30%;" value="{{record.name}}">
      </div>
    </li>

    {{!-- 日期 --}}
    <li>
      <div class="inputDate d-flex justify-content-center mb-3">
        <h4>日期*：</h4>
        <input type="date" name="date" style="width: 30%;" value="{{date}}">
      </div>
    </li>

    {{!-- 類別 --}}
    <li>
      <div class="inputCategory d-flex justify-content-center mb-3">
        <h4>類別*：</h4>
        <div class="dropdown">
          <div class="input-group">
            <select class="custom-select" id="inputGroupSelect02" name='category'>
              <option value='家居物業' {{#if home}}selected{{/if}}>家居物業</option>
              <option value='交通出行' {{#if shuttle}}selected{{/if}}>交通出行</option>
              <option value='休閒娛樂' {{#if grin}}selected{{/if}}>休閒娛樂</option>
              <option value='餐飲食品' {{#if utensils}}selected{{/if}}>餐飲食品</option>
              <option value='其他' {{#if pen}}selected{{/if}}>其他</option>
            </select>
            <input type="submit" hidden>
          </div>
        </div>
      </div>
    </li>

    {{!-- 金額 --}}
    <li>
      <div class="inputAmount d-flex justify-content-center mb-3">
        <h4>金額*：</h4>
        <input type="text" name='amount' style="width: 30%;" value="{{record.amount}}">
      </div>
    </li>
    <li class='create d-flex justify-content-center'>
      <button type="submit" class='send btn btn-outline-info mb-2'>完成編輯</button>
    </li>

    <li class='d-flex justify-content-center'>
      <a href="/" class="btn btn-outline-success">返回</a>
    </li>
  </ul>
</form>