<form action="/" method="post" class="justify-content-center">
  <ul class='list-group'>

    <li class='inputTitle d-flex justify-content-center align-items-center'>
      <h6 style="width: 20%; color:red">*必填欄位：</h6>
      <h3 style=" width: 40%;" class='d-flex justify-content-center'>請輸入你的支出</h3>
    </li>

    {{!-- 名稱 --}}
    <li class="inputName d-flex justify-content-center align-items-center">
      <h4 style="width: 20%;">名稱<span>*</span>：</h4>
      <input style="width: 40%;" type="text" name='name' value="" style="width: 30%;">
    </li>

    {{!-- 日期 --}}
    <li class="inputDate d-flex justify-content-center  align-items-center">
      <h4 style="width: 20%;">日期<span>*</span>：</h4>
      <input style="width: 40%;" type="date" name="date" style="width: 30%;">
    </li>

    {{!-- 類別 --}}
    <li class="inputCategory d-flex justify-content-center align-items-center">
      <h4 style="width: 20%;">類別<span>*</span>：</h4>
      <div class="dropdown" style="width: 40%;">
        <div class="input-group">
          <select class="custom-select" id="inputGroupSelect02" name='category'>
            <option value='家居物業'>家居物業</option>
            <option value='交通出行'>交通出行</option>
            <option value='休閒娛樂'>休閒娛樂</option>
            <option value='餐飲食品'>餐飲食品</option>
            <option value='其他'>其他</option>
          </select>
          <input type="submit" hidden>
        </div>
      </div>
    </li>

    {{!-- 金額 --}}
    <li class="inputAmount d-flex justify-content-center align-items-center">
      <h4 style="width: 20%;">金額<span>*</span>：</h4>
      <input style="width: 40%;" type="text" name='amount' style="width: 30%;">
    </li>

    <li class='send d-flex justify-content-center'>
      <div style="width: 20%;"></div>
      <button style="width: 40%;" type="submit" class='send btn btn-outline-info mb-2'>新增支出</button>
    </li>

    <li class='d-flex justify-content-end'>
      <a href="/" class="btn btn-outline-success d-flex justify-content-end">返回</a>
    </li>
  </ul>
</form>