/* main.hbs */
html {
  height: 100vh;
}

body {
  background-color: #66BAB7;
  /* background-color: red; */
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
}

.navbar {
  width: 100%;
  /* padding: 0; */
  background-color: #006284;
  position: fixed;
  z-index: 100;
}

.navbar a {
  background-color: transparent;
}

.navbar a h3{
  margin: 0;
}

body > div {
  display: flex;
}

.index {
  width: 70%;
  max-width: 768px;
  margin: 5em auto; 
  border-radius: 10px;
  padding:1em;
  background-color: #FCFAF2;
}

.topBar {
   display: flex;
   width: 100%;
   justify-content:space-between;
   align-items:center;
   margin-bottom: .5em;
}

/* index.hbs */
/* .index h5 {} */

h5 span{
  font-size: 2em;
  color:red
}

h5 {
  display: flex;
  align-items: center;
}

.list-group {
  margin: 0 auto;
}

.list-group .icons {
  height: 0;
}

.liItem {
  height: 2em;
  display: flex;
  margin: .3em;
}

.liItem .container {
  border-radius: 10px;
  display: flex;
  width: 70%;
  justify-content:center;
  justify-content:space-between;
  flex-grow: 1;
}

.liItem .container> h6 {
  margin: auto 0;
}

.liItem .headInfo {
  display: flex;
  align-items:center;
  width: 85%;
}


.headInfo .cateIcons {
  font-size: 1.5em;
  /* border: 1px solid #000; */
  color: #CA7A2C;  
}

.liItem .middleInfo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.liItem .middleInfo h5{
  margin: 0;
  font-weight: 700;
}

.liItem .middleInfo p {
  margin: 0;
  font-weight: 500;
}

.list-group .buttons {
  display: flex;
  align-items: center;
  width: 20%;
}