/* main.hbs */
.index {
  width: 70%; 
  /* height: 45rem; */
  border-radius: 10px
}

/* index.hbs */
h5 span{
  font-size: 60px;
  color:red
}

h5 {
  display: flex;
  align-items: flex-start;
}

.cateIcons {
  font-size: 42px;
}